torch
torchvision
albumentations
opencv-python
pudb
git+https://github.com/tgisaturday/pytorch-lightning.git
einops
regex
g-mlp-pytorch
ftfy
tokenizers
transformers
youtokentome
WebDataset
axial_positional_embedding
pillow
dalle_pytorch
git+https://github.com/tgisaturday/client.git
sklearn
gym